:root{
    --primary-color: #27b36a;
    --secondary-color: #405263;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Open Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--primary-font);
    font-weight: 400;
}

a{
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
}

.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.navbar-fixed-top{
    background-color: #fff;
    position: absolute;
}

.navbar-fixed-top.opaque{
    position: fixed;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 10px 0;
    z-index: 9999;
}

.navbar>.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

.header-logo{
    font-size: 28px;
    font-weight: 500;
    color: var(--primary-color);
}

.menu-list{
    display: flex;
}

.menu-item{
    font-size: 17px;
    line-height: 28px;
    font-family: var(--secondary-font);
}

.menu-link{
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 15px;
    transition: .5s;
}

.menu-link:hover{
    color: var(--primary-color);
}

.header-btn{
    color: var(--primary-color);
    background: transparent;
    border: 1px solid var(--primary-color);
    border-radius: 8px 8px;
    padding: 12px 18px;
    margin: 0 10px;
    transition: .5s;
}

.header-btn:hover{
    color: #fff;
    background-color: var(--primary-color);
}

.home{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(./images/menu.jpg) bottom center no-repeat;
    background-size: cover;
    padding-top: 290px;
    padding-bottom: 240px;
}

.home-overlay{
    width: 100%;
    height: 100vh;
    background: #252525;
    opacity: 0.45;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.home-content{
    position: relative;
    text-align: center;
}

.home h1{
    font-family: var(--primary-font);
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    text-shadow: 1px 1px #454545;
    margin-bottom: 15px;
}

.hero-text{
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 22px;
    line-height: 30px;
    text-shadow: 1px 1px #656565;
    margin-bottom: 20px;
}

.hero-btn{
    display: inline-block;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px 5px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 25%);
    box-shadow: 0 5px 20px rgb(0 0 0 / 27%);
    padding: 18px 25px;
    margin: 15px 10px 0 0;
    transition: .5s;
}

.hero-btn:hover{
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 50%);
    background: #25ad65;
}

.meal{
    background-color: #fafafa;
    padding: 100px 0;
}

.meal-content{
    margin: 0 auto;
    text-align: center;
}

.meal-title{
    color: #071e55;
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    margin-bottom: 10px;
}

.meal-sub{
    color: #7c8595;
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 80px;
}

.row-images{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.row-images img{
    width: 350px;
    height: 270px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: cover;
}

.row-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.row-item{
    width: 350px;
    background-color: #fff;
    border: 5px;
    padding: 25px 40px;
}

.row-item h3 a{
    color: #454545;
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
}

.row-info{
    color: #7c8595;
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 10px;
}

.row-link{
    color: var(--primary-color);
    font-size: 16px;
    line-height: 24px;
    transition: .4s;
}

.row-link:hover{
    text-decoration: underline;
}

.kit{
    background-color: #fff;
    padding: 90px 0;
}

.kit-main{
    display: flex;
}

.kit-image{
    width: 50%;
    margin-right: 30px;
}

.kit-image img{
    width: 540px;
    height: 360px;
    border-radius: 8px;
    box-shadow: 0 8px 40px 0 rgb(0 0 0 / 15%);
}


.kit-content h3{
    color: #071a55;
    font-family: var(--primary-font);
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
}

.kit-item h5{
    color: #071a55;
    font-family: var(--primary-font);
    font-size: 19px;
    font-weight: 500;
    line-height: 28px;
    border-bottom: 1px solid #f4f5f6;
    padding: 6px 0 9px 0;
}

.kit-sub{
    color: #7c8595;
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 1.5;
    padding: 10px 0;
    border-top: 2px solid var(--primary-color);
}

.work{
    background-color: #fafafa;
    padding: 100px 0;
}

.work-content{
    text-align: center;
}

.work-title{
    color: #071a55;
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    margin-bottom: 10px;
}

.work-sub{
    color: #7c8595;
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 40px;
}

.work-item{
    background-color: #fefefe;
    padding: 40px 15px 30px 15px;
    text-align: center;
    border: 1px solid #e5efff;
    border-radius: 8px 8px;
    transition: .8s;
}

.work-item:hover{
    border: 1px solid var(--primary-color);
    transform: scale(1.025);
}

.work-icon{
    font-size: 60px;
    color: var(--primary-color);
    margin-bottom: 25px;
}

.work-name{
    font-size: 22px;
    font-weight: 500;
    color: #292929;
    margin-bottom: 15px;
}

.work-info{
    color: #7c8595;
    font-size: 17px;
    line-height: 28px;
    font-family: var(--secondary-font);
}

.bg{
    background-image: url(./images/bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding: 90px 0;
}

.bg-overlay{
    width: 100%;
    background-color: #252525;
    opacity: 0.45;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.white-box{
    position: relative;
    background-color: #fff;
    padding: 30px 40px 50px 30px;
    max-width: 635px;
}

.white-box h3{
    color: #071e55;
    font-family: var(--primary-font);
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 20px;
}

.white-box p{
    color: #7c8595;
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 15px;
}

.benefits li{
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 8px;
    color: #858585;
}

.benefits li i{
    font-size: 18px;
    line-height: 18px;
    margin-right: 1px;
    color: var(--primary-color);
}

.testimonial{
    padding: 100px 0 120px 0;
    background-color: #fff;
}

.testimonial-content{
    text-align: center;
    margin-bottom: 50px;
}

.testimonial-title{
    color: #071a55;
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    margin-bottom: 10px;
}

.testimonial-sub{
    color: #7c8595;
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

.testimonial-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.testimonial-item{
    background-color: #fefefe;
    margin: 40px 15px 20px 15px;
    padding: 0 25px 25px 25px;
    border: 1px solid #e5efff;
    border-radius: 7px 7px;
    text-align: center;
}

.testimonial-item:hover{
    border: 1px solid var(--primary-color);
    transform: scale(1.025);
    transition: all .5s;
}

.testimonial-avt img{
    max-width: 110px;
    background-color: #fff;
    padding: 5px 5px;
    border: 1px solid #e5efff;
    border-radius: 50%;
    margin-top: -55px;
}

.testimonial-item:hover img{
    border: 1px solid var(--primary-color);
}

.testimonial-info{
    color: #7c8595;
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 28px;
    font-style: italic;
    margin: 20px 0 5px 0;
}

.testimonial-name{
    color: var(--primary-color);
    font-family: "RaleWay";
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 5px;
}

.testimonial-star{
    display: inline-block;
    font-size: 16px;
    color: #fdcc28;
}

.gallery{
    padding: 90px 0 100px 0;
    background-color: #f7fafa;
}

.gallery-content{
    text-align: center;
}

.gallery-title{
    color: #071a55;
    font-family: var(--primary-font);
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    margin-bottom: 10px;
}

.gallery-sub{
    color: #7c8595;
    font-family: var(--secondary-font);
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

.gallery-image{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.gallery-image img{
    width: 255px;
    height: 195px;
    margin-bottom: 25px;
    object-fit: cover;
    border-radius: 5px;
}

.bg2{
    background-image: url(./images/bg2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: relative;
    padding: 90px 0;
}

.bg2-overlay{
    width: 100%;
    background-color: #252525;
    opacity: 0.45;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form{
    position: relative;
    background-color: #fff;
    max-width: 635px;
    padding: 30px 40px 50px 30px;
    border-radius: 5px;
}

.form h3{
    color: #071a55;
    font-family: var(--primary-font);
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 5px;
}

.form p{
    color: #7c8595;
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 20px;
}

form .register-input{
    width: 480px;
    height: 52px;
    padding-left: 11%;
    padding-right: 5%;
    margin-bottom: 15px;
    color: #555;
    border: 1px solid #f1f1f1;
    background-color: #f9f9f9;
    font-size: 16px;
    border-radius: 5px;
}

.name-input{
    background: url(./images/user.png) no-repeat 12px 15px;
}

.email-input{
    background: url(./images/email.png) no-repeat 12px 15px;
}

.white-input{
    background: url(./images/select.png) no-repeat 12px 15px;
}

.register-submit{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--primary-color);
    border:none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 535px;
    padding: 16px 0;
    border-radius: 3px;
    text-transform: uppercase;
}

.footer{
    padding-top: 80px;
    background-color: #fafbfc;
}

.footer-top{
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-item{
    text-align: center;
}

.footer-item > i{
    color: var(--primary-color);
    font-size: 60px;
    margin-bottom: 10px;
}

.footer-item h5{
    color: #071a55;
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
}

.footer p{
    color: #454545;
    font-family: var(--secondary-font);
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 5px;
}

.footer-item > a{
    font-size: 17px;
    color: var(--primary-color);
    text-decoration: underline;
}

ul.footer-social{
    display: block;
    padding-top: 15px;
    font-size: 14px;
}

ul.footer-social li{
    display: inline-block;
    font-size: 14px;
    padding: 0 10px;
}

ul.footer-social li a{
    font-size: 30px;
}

ul.footer-social li a i.fa-twitter{
    color: #4099ff;
}

ul.footer-social li a i.fa-pinterest{
    color: #c92228;
}

ul.footer-social li a i.fa-facebook{
    color: #3b5998;
}

ul.footer-social li a i.fa-instagram{
    color: #8a3ab9;
}

ul.footer-social li a i.fa-skype{
    color: #1e90ff;
}

ul.footer-social li a i:hover{
    color: var(--primary-color);
    transition: .5s;
}

a.footer-link{
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
    color: #454545;
    text-decoration: none;
}

a.footer-link:hover{
    text-decoration: underline;
    color: var(--primary-color);
}

.footer-bot{
    padding: 40px 0 40px 0;
    background-color: #fff;
    border-top: 1px solid #efefef;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.footer-bot p{
    line-height: 24px;
    color: #454545;
    margin-bottom: 5px;
}

span.template-name{
    font-weight: bold;
    color: var(--primary-color);
}

.footer-bot p > a{
    font-size: 17px;
    color: var(--primary-color);
    text-decoration: underline;
}
